/* Save this as style.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

header {
  background: #fff;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

/* ===== LOGO ===== */

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav {
  display: flex;
  gap: 20px;
  font-size: 18px;
 justify-content: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s;
}

nav a:hover {
  background: #dddddd;
}

nav a:active {
  background: #d0d0d0;
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero {
  width: 100%;
}

.hero-image {
  width: 50%;
  max-height: 90vh;
  object-fit: contain;
  display: block;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #8b5e34;
}

.hero p {
  font-size: 18px;
  color: #666;
}

.section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.category-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: black;
}

.product-row {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.product-card {
  background: white;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.product-name {
  font-size: 22px;
  margin-top: 15px;
  font-weight: bold;
}

.product-details {
  margin-top: 10px;
  color: #555;
  line-height: 1.8;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
  margin-top: 40px;
  border-top: 1px solid #ddd;
}

/* ===== ICONS ===== */

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 22px;
}


/* ====== IMAGE SLIDER =====*/
.image-slider {
  position: relative;
  width: 100%;
}

.slider-image {
  width: 100%;
  border-radius: 8px;
  display: block;
}

/* ARROWS */

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 38px;
  height: 38px;

  border: none;
  border-radius: 50%;

  background: rgba(255,255,255,0.75);
  cursor: pointer;

  font-size: 20px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.slider-btn:hover {
  background: white;
}

/* LEFT + RIGHT POSITION */

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
/* ===========*/

/* Mobile Responsive */

@media (max-width: 600px) {

  nav {
    font-size: 16px;
    gap: 12px;
  }

  .hero h1 {
    font-size: 30px;
  }

  .product-card {
    max-width: 100%;
  }

}
